{{#if user.userName}}
  <p>Signed in as {{user.userName}}</p>
  <button {{action 'logout'}}>Sign Out</button>
{{else}}
  <h3>Sign In</h3>
  <p>You can view questions and answers anonymously but you must sign in to ask a question or give an answer</p>
  <form>
    <label for="inputName">Name</label>
    {{input id="inputName" value=name}}
    <button {{action 'login'}}>Sign in</button>
  </form>
{{/if}}
