{{#if user.userName}}
  {{#if newAnswerFormIsShowing}}
    <form>
      <label for='content'>Your Answer:</label>
      {{textarea value=content id='content'}}
      <button {{action 'saveAnswer'}} disabled={{isInvalid}}>Answer!</button>
      <button {{action 'hideForm'}}>Nevermind</button>
    </form>
  {{else}}
    <button {{action "showAnswerForm"}}>Give an Answer</button>
  {{/if}}
{{else}}
  <p>Please login to answer a question</p>
{{/if}}
