{{#if user.userName}}
  {{#if newQuestionFormIsShowing}}
    <form>
      <label for='content'>Your Question:</label>
      {{textarea value=content id='content'}}
      <label for='notes'>Additional Notes:</label>
      {{textarea value=notes id='notes'}}
      <button {{action 'saveQuestion'}}>Ask Question</button>
      <button {{action 'hideForm'}}>Nevermind</button>
    </form>
  {{else}}
    <button {{action "showForm"}}>New Question</button>
  {{/if}}
{{else}}
  <p>Please sign in to ask a question</p>
{{/if}}
