
<div class="question-text">
  <p>{{question.author}}@messageboard: {{question.content}}</p>
  <p>Additional Notes: {{question.notes}}</p>
  <div class='answers'>
    {{answer-display answers=question.answers upvote="upvote" downvote="downvote"}}
  </div>
</div>
{{#if originalPoster}}
  {{edit-question question=question updateQuestion="updateQuestion"}}
  <button {{action "deleteQuestion" question}}>Delete Question</button>
{{/if}}
