<p>Question asked by: {{question.author}}</p>
<p>{{question.content}}</p>
<p>Additional Notes:</p>
<p>{{question.notes}}</p>
{{edit-question}}
<button {{action "deleteQuestion" question}}>Delete Question</button>
